body {
  background-color: black;
  margin: 0;
  cursor: none;
  width: 3024px;
  height: 100vh;
  overflow: hidden;
  z-index: -9998;
}

.lancement {
  display: none;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  width: 3024px;
  height: 100vh;
  z-index: 9998;
}

#play {
  position: absolute;
  background-color: transparent;
  color: white;
  border: none;
  width: max-content;
  height: max-content;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: xx-large;
  z-index: 9998;
  font-family: Super-Mario-World;
  transition: all 2s ease-in-out;
}

.cache {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 110vh;
  background-color: black;
  z-index: 9997;
  transition: all 2s ease-in-out;
}

.moveplanet {
  animation: infinite floatplanet 60s ease-in-out;
}

@keyframes floatplanet {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(5px, 5px);
  }
  20% {
    transform: translate(10px, 10px);
  }
  30% {
    transform: translate(20px, 0px);
  }
  40% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(-10px, 10px);
  }
  70% {
    transform: translate(-20px, 0px);
  }
  80% {
    transform: translate(-10px, -0px);
  }
  90% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.moveobject {
  animation: infinite floatobject 60s ease-in-out;
}

@keyframes floatobject {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-5px, -5px);
  }
  20% {
    transform: translate(-10px, -10px);
  }
  30% {
    transform: translate(-20px, -0px);
  }
  40% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(10px, -10px);
  }
  70% {
    transform: translate(20px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  900% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.sky {
  position: absolute;
  top: -20px;
  left: 0;
  background-image: url(/HP/Stars.gif);
  background-size: 1512px 982px;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.7;
  width: 5000px;
  height: 5000px;
  animation: infinite sky 100s ease-in-out;
}

@keyframes sky {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(5px, -5px);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  30% {
    transform: translate(-20px, -0px);
  }
  40% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(-10px, 10px);
  }
  70% {
    transform: translate(-20px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.items {
  /* cursor: none; */
  height: 100vh;
  transform-origin: left;
  transition: all 0.5s ease-out;
}

body::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: absolute;
  pointer-events: none;
  background-image: url(cursor/pointer.svg);
  background-position: center;
  width: 22px;
  height: 22px;
  top: -11px;
  left: -11px;
  z-index: 9999;
  transform-origin: center;
  transition: all 0.05s ease-in-out;
}

.cursor2 {
  position: absolute;
  pointer-events: none;
  background-image: url(cursor/pointer.svg);
  background-position: center;
  width: 40px;
  height: 40px;
  top: -11px;
  left: -11px;
  z-index: 9999;
  transform-origin: center;
  transition: all 0.05s ease-in-out;
}

.cursor2::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  transform: translate(18px, 18px);
}

.cursor3 {
  position: absolute;
  pointer-events: none;
  background-image: url(cursor/pointer.svg);
  background-position: center;
  width: 22px;
  height: 22px;
  top: -11px;
  left: -11px;
  z-index: 9999;
  transform-origin: center;
  transition: all 0.05s ease-in-out;
}

.cursor3::before {
  border: 1px solid white;
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
}

.cursor::before,
.cursor::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 30px;
  background-image: url(cursor/arrow.svg);
  background-repeat: no-repeat;
}
.cursor::before {
  transform-origin: right;
  transform: translate(-50px, -1px);
}

.cursor::after {
  transform-origin: left;
  transform: rotate(180deg) translate(-70px, 5px);
}

.pushMouse::before,
.pushMouse::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
  transition: all 0.08s ease-in-out;
}

.pushMouse::before {
  background-image: url(cursor/arrow.svg);
  transform: translate(-80px, 0px);
}

.pushMouse::after {
  background-image: url(cursor/arrow.svg);
  transform: rotate(180deg) translate(-110px, 5px);
}

.pushMouse {
  width: 30px;
  height: 30px;
  transform-origin: center;
}

.background:hover::before {
  background-image: url(cursor/svg/arrow_black.svg);
}

.background {
  position: absolute;
  background-image: url(HP/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 518px;
  width: 3024px;
  height: 472px;
}

.fusee {
  position: absolute;
  background-image: url(/HP/fusee.png);
  left: 104px;
  bottom: 135px;
  width: 131px;
  height: 395px;
  transform: scale(1.2);
}

.mars {
  position: absolute;
  background-image: url(/HP/Mars.gif);
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 186px;
  left: 287px;
  top: 96px;
}

/* .game {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: max-content;
  height: max-content;
  left: 370px;
  bottom: 64px;
  gap: 150px;
} */

.game_sampler {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  left: 370px;
  bottom: 64px;
  width: 565px;
  height: 187px;
}

.shadow_sampler {
  width: 217.5px;
  height: 82.5px;
  transform: skewX(-54deg) translateY(-4px);
  background: #c4c4c4;
}

.sampler {
  background-image: url(/HP/Sampler.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(-50px);
  transform-origin: right;
  width: 743px;
  height: 187px;
}

.simon_card {
  position: absolute;
  background-image: url(HP/C_Simon.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-self: flex-end;
  width: 169px;
  height: 192px;
  left: 580px;
  top: 206px;
  z-index: 10;
}

.simon_card:hover:before {
  position: absolute;
  content: "Simon.nes";
  cursor: pointer;
  width: fit-content;
  background-color: black;
  color: white;
  font-size: 18pt;
  padding-top: 16px !important;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-family: Super-Mario-World;
  align-self: center;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  align-items: flex-start;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  transform: translate(-28px, -76px);
}

.lampadaire {
  position: absolute;
  background-image: url(HP/lampadaire.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 544px;
  height: 489px;
  top: 269px;
  left: 690px;
  z-index: 0;
}

.earth {
  background-image: url(HP/Terrefinal.gif);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 445px;
  height: 445px;
  left: 1379px;
  top: 124px;
  z-index: -1;
}

.game_elon {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 360px;
  height: 356px;
  left: 1900px;
  bottom: 72px;
}

.shadow_column {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: space-between;
  width: 264px;
  height: 83px;
}

.shadow_block {
  width: 118px;
  height: 22px;
  background: #c4c4c4;
}

.shadow_elon {
  display: flex;
  align-self: flex-end;
  width: 90px;
  height: 26px;
  background: #c4c4c4;
  transform: translate(-11px, 8px);
}

.shadow_elon::before {
  content: "";
  width: 62px;
  height: 36px;
  transform: translate(-41px, -5px);
  background: #c4c4c4;
}

.shadow_elon::after {
  content: "";
  width: 42px;
  height: 16px;
  transform: translate(21px, 5px);
  background: #c4c4c4;
}

.column_elon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 88px;
}

.block {
  background-image: url(elon/img/items/BlockTesla.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 106px;
  height: 106px;
}

.elon {
  background-image: url(elon/img/items/Elon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 86px;
  height: 152px;
}

.elon_card {
  position: absolute;
  background-image: url(HP/C_Elon.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-self: flex-end;
  width: 169px;
  height: 192px;
  left: 2120px;
  top: 206px;
  z-index: 10;
}

.elon_card:hover:before {
  position: absolute;
  content: "Elon Bross.nes";
  cursor: pointer;
  width: fit-content;
  background-color: black;
  color: white;
  font-size: 18pt;
  padding-top: 16px !important;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-family: Super-Mario-World;
  align-self: center;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  align-items: flex-start;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  transform: translate(-28px, -96px);
}

.tesla {
  position: absolute;
  width: 95.42px;
  height: 111.75px;
  left: 1200px;
  top: 100px;
  background: url(HP/Tesla.png) no-repeat;
  background-size: contain;
  transform: rotate(15deg);
}

.navbar {
  position: absolute;
  width: 708.69px;
  height: 691.49px;
  left: 2387px;
  top: 280px;
  background-image: url(HP/navbar.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-32px);
}

.pixelCursor {
  position: absolute;
  width: 70px;
  height: 92px;
  left: 2650px;
  top: 227.62px;
  background: url(HP/Curseur.svg) no-repeat;
  background-size: contain;
}

/* button {
  cursor: pointer;
  width: fit-content;
  background-color: black;
  color: white;
  font-size: 18pt;
  padding-top: 16px !important;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-family: Super-Mario-World;
  align-self: center;
  appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    align-items: flex-start;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
} */
a {
  cursor: none;
}
