body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100vw;
  height: auto;
}

.column {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 141px;
  left: 468px;
  width: max-content;
  height: 609px;
}

.grid,
.grid2,
.grid3,
.grid4 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 35px;
}

.grid {
  width: 572px;
  height: 519px;
}

.grid2 {
  width: 572px;
  height: 519px;
}

.grid3 {
  width: 572px;
  height: 519px;
}

.grid4 {
  width: 572px;
  height: 519px;
}

.box {
  width: 111px;
  height: 111px;
  background-color: transparent;
  border: none;
}

.clicked1 {
  background: radial-gradient(#cda2fe, #997eec);
}

.clicked2 {
  background: radial-gradient(#eda2fc, #c463ff);
}

.clicked3 {
  background-color: transparent;
}

.clicked4 {
  background-color: transparent;
}

.clicked5 {
  background-color: transparent;
}

.clicked6 {
  background-color: transparent;
}

.clicked7 {
  background-color: transparent;
}

.clicked8 {
  background-color: transparent;
}

.clicked9 {
  background-color: transparent;
}

.clicked10 {
  background-color: transparent;
}

.clicked11 {
  background-color: transparent;
}

.clicked12 {
  background-color: transparent;
}

.clicked13 {
  background-color: transparent;
}

.clicked14 {
  background-color: transparent;
}

.clicked15 {
  background-color: transparent;
}

.clicked16 {
  background-color: transparent;
}
