body {
  margin: 0;
  font-family: Super-Mario-World;
  height: 100vh;
}

.explain {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25vh;
  padding-top: 20vh;
}

.typer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8vh;
}

h3,
.wrap,
.wrap_2,
.wrap_3,
.typewrite,
.typewrite_2,
.typewrite_3 {
  color: white;
  width: auto;
  height: auto;
  margin: 0;
  text-align: center;
  font-size: 18pt;
  text-decoration: none;
}

.presentation {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  gap: 5vw;
}

.elon_head {
  width: 90px;
}

.cross {
  width: 48px;
  height: 48px;
}

.elon_pres {
  transform: translateY(3px);
  margin: 0;
}

#playGround {
  display: none;
  background-color: #e8a86e;
  overflow: hidden;
}

.ratio {
  width: 1vw;
  height: 1vh;
}

@font-face {
  font-family: Super-Mario-World;
  src: url(/Super-Mario-World.ttf);
}

h1 {
  text-transform: uppercase;
}

.background_flex {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
}

.ground {
  position: relative;
  display: flex;
  max-width: 100%;
  height: auto;
}

.horizon {
  position: relative;
  display: flex;
  max-width: 100%;
  height: auto;
}

.big_cloud {
  position: absolute;
  width: auto;
  height: 180px;
  top: 5vh;
  left: 5vw;
}

.small_cloud {
  position: absolute;
  width: auto;
  height: 180px;
  top: 10vh;
  right: 10vw;
}

.cloud {
  position: absolute;
  width: auto;
  height: 100px;
  top: 25vh;
  right: 30vw;
}

.little_cloud {
  will-change: transform;
  position: absolute;
  width: auto;
  height: 100px;
  top: 32vh;
  left: 30vw;
}

.block_1 {
  background-image: url(/elon/img/items/Block2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 85px;
  height: 85px;
}

.block_2 {
  background-image: url(/elon/img/items/Block1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 85px;
  height: 85px;
}

.block_3 {
  background-image: url(/elon/img/items/Block1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 85px;
  height: 85px;
}

.block_4 {
  background-image: url(/elon/img/items/Block1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 85px;
  height: 85px;
}

.wrapper_block {
  display: flex;
  flex-direction: row;
}

.block {
  position: absolute;
  background-image: url(/elon/img/items/BlockTesla.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 85px;
  height: 85px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 32vh;
  transition: all 0.05s ease-in;
  z-index: 9998;
}

.wrapper_block_justify {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 425px;
  height: 75px;
  top: 32vh;
  margin: auto;
  right: 0;
  left: 0;
  z-index: 1;
}

.elon {
  position: absolute;
  background-image: url(/elon/img/items/Elon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 103px;
  height: 180px;
  bottom: 180px;
  margin: auto;
  right: 0;
  left: 0;
}


.fly {
  background-image: url(/elon/img/items/ElonJump.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 126px;
  height: 137px;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.colision {
  transform: translateY(-10px);
}

#tracer {
  position: absolute;
  width: 100px;
  height: 84px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 32vh;
}
/* .tracerLead {
  width: 100px;
  height: 84px;
  transform-origin: top right;
  animation: tracer 2s infinite linear;
}

@keyframes tracer {

  0%{transform: translateY(0px);
    transform: rotate(0deg);}

  50%{ transform: translateY(-200px);
    transform: rotate(180deg);}

  100%{transform: translateY(500px);}
} */

.coin {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
  background-image: url(/elon/img/items/ElonBrosAnim.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 84px;
  /* animation: schema 2s infinite ease-in; */
}
/* .coinout {
  transform: translateY(-200px);
} */
/* 
@keyframes schema {

  0%{transform: translateY(0px);
    transform: rotate(0deg);}

  50%{transform: rotate(180deg);}

  100%{transform: translateY(500px);}
} */

.pause {
  display: none;
}

.info {
  padding-top: 5vh;
}

/* 
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20vw;
  width: max-content;
  height: auto;
  padding-top: 5vh;
} */

.counter {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  left: 15vw;
}

h2,
#countdown,
#score {
  font-size: xx-large;
  text-transform: uppercase;
  margin: 0;
}

.big {
  transform-origin: center;
  transform: scale(1);
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	30% {
		transform: scale(1.2);
	}

	60% {
		transform: scale(1);
	}

  100% {
    transform: scale(1);
  }
}

button {
  cursor: pointer;
  width: fit-content;
  background-color: black;
  color: white;
  font-size: 18pt;
  padding-top: 16px !important;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-family: Super-Mario-World;
  align-self: center;
}

.game {
  position: absolute;
  flex-direction: column;
  text-align: center;
  left: 45%;
  right: 45%;
}

#gameNone {
  display: none;
}

.time {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 15vw;
}

#cache {
  display: flex;
  flex-direction: column;
  background-color: black;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
}

.launcher {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.box {
  align-self: center;
  width: 800px;
}

.action_button {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

a {
  align-self: center;
  width: max-content;
}

.coinInfo {
  width: 4vw;
}

.multiplicator {
  object-position: center;
  object-fit: cover;
  width: 3vw;
}
/* 
.translate {
  transform: translateX(12px);
} */
